/* General */

:root {
  --principal-green: #025157;
  --second-green: #67b54b;
  --background-color: #fffbf7;
  --principal-text: #000000;
  --second-text: #a2a2a2;
  --light-grey-color: #d4d4d4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif;
}

header > * {
  display: inline-block;
  font-size: 16px;
  height: 100%;
  vertical-align: middle;
}

/* Botón principal */

.button-green {
  color: white;
  cursor: pointer;
  background-color: var(--principal-green);
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 15px;
  height: 60px;
  margin-left: -5px;
  width: 120px;
}

/* Botón secundario */

.button-ligh-green {
  color: white;
  cursor: pointer;
  background-color: var(--second-green);
  border: 0;
  border-radius: 5px;
  padding: 12px 14px;
}

/* Input principal */

.principal-input {
  border: 0.5px var(--light-grey-color) solid;
  border-radius: 10px 0 0 10px;
  font-size: 15px;
  height: 60px;
  padding: 0 30px;
}

/* Header */

.header-container {
  background-color: var(--background-color);
  /* border: red 1px solid; */
  font-family: sans-serif;
  font-size: 0;
  padding: 15px 20px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.header-container__link {
  width: 15%;
}

.header-container__logo {
  height: 100%;
  vertical-align: middle;
}

.header-nav {
  color: var(--principal-green);
  font-weight: 500;
  text-align: center;
  width: 70%;
}

.header-nav__item {
  display: inline;
  margin: 0 25px;
}

.header-nav__item a {
  color: var(--principal-green);
}

.header-sign {
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  width: 15%;
}

.header-sign > * {
  margin: 0 10px;
}

.header-sign a {
  color: var(--second-green);
}

/* Main */

/* Hero */

.hero-container {
  /* border: red 1px solid; */
  margin: 80px auto;
  text-align: center;
  width: 70%;
}

.hero-container__title {
  color: var(--principal-green);
  font-family: 'Alegreya', serif;
  font-size: 60px;
  margin: 15px auto;
}

.hero-container__subtitle {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  font-weight: 400;
  margin: 20px auto;
}

.hero-form {
  margin: 15px auto;
}

.hero-form input::placeholder {
  color: var(--light-grey-color);
}

.hero-form__email:focus {
  outline: none;
}

.hero-container__content {
  color: var(--second-text);
  margin-bottom: 30px;
}

.hero-container__content span {
  font-weight: bold;
}

.figure-container__rank {
  height: 40px;
}

.figure-container__intro {
  height: 700px;
  margin: 20px auto;
}

/* Promo video */

.promo-container {
  align-items: center;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin: 100px auto;
  width: 80%;
}

.promo-video {
  align-items: center;
  /* border: 1px solid red; */
  display: flex;
  flex: 1;
  flex-direction: column;
}

.promo-video img {
  margin-top: 10px;
  width: 120px;
}

.promo-details {
  /* border: 1px solid red; */
  align-self: flex-start;
  flex: 2;
  padding: 0 50px;
  width: 800px;
}

.promo-title {
  color: var(--principal-green);
  font-family: 'Alegreya', serif;
  font-size: 40px;
  padding-bottom: 20px;
}

.promo-description {
  padding-bottom: 20px;
}

.promo-description span {
  color: var(--second-text);
}

.promo-form input::placeholder {
  color: var(--light-grey-color);
}

/* Features cards */

.features-container {
  background-color: var(--principal-green);
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
  padding: 5% 10%;
}

.feature-card {
  align-items: center;
  background-color: white;
  border: 1px solid var(--light-grey-color);
  border-radius: 5px;
  display: flex;
  margin: 0 15px 30px;
  overflow: hidden;
  padding: 30px;
}

.feature-content > * {
  margin-bottom: 10px;
}

.feature-content h3 {
  color: var(--principal-text);
  font-size: 24px;
  font-weight: 400;
}

.feature-content p {
  color: var(--second-text);
}

.feature-content a {
  color: var(--second-green);
  font-weight: 600;
}

.feature-icon img {
  width: 70px;
}

.feature-image {
  height: 130%;
  position: relative;
  right: -50px;
  width: 40%;
}

.feature-image img {
  height: 100%;
}

/* Footer */ ;
