/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

a {
  text-decoration: none;
}

body {
  background-color: #fffbf7;
}

li {
  display: inline;
}

header > * {
  display: inline-block;
  font-size: 16px;
  height: 100%;
  line-height: 45px;
  vertical-align: middle;
}

h1 {
  color: #025157;
}

p {
  color: #a2a1a0;
}

.header-container {
  border: red 1px solid;
  font-family: sans-serif;
  font-size: 0;
  height: 45px;
  margin: 40px 20px 0;
}

.header-container__logo {
  width: 15%;
}

.header-container__logo > img {
  height: 100%;
}

.header-nav {
  color: #025157;
  font-weight: 500;
  text-align: center;
  width: 70%;
}

.header-nav__item {
  display: inline;
  margin: 0 25px;
}

.header-sign {
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  width: 15%;
}

.header-sign > * {
  margin: 0 10px;
}

.header-sign a {
  color: #67b54b;
}

.header-sign button {
  color: white;
  background-color: #67b54b;
  border: 0;
  border-radius: 5px;
  padding: 12px 14px;
}
